<div class="contenedor_interno">
  <h3>Actividades</h3>
  <div id="listado_tareas">
    <div class="row listado_tareas">
    <% if Array(@actividades).any? %>
      <% @actividades.each_with_index do |actividad, i| %>
        <div class="tarea header <%= cycle('odd', 'even') %> <%= 'description-header' if i > 0 %> <%= 'last-child' if i == @actividades.length-1 %>">
          <div class="columns col-md-1"> <strong>#</strong></div>
          <div class="columns col-md-2"> <strong>Nombre</strong></div>
          <div class="columns col-md-3"> <strong>Progreso</strong></div>
          <div class="columns col-md-5"> <strong>Acciones</strong></div>
        </div>
        <div class="tarea <%= cycle('odd', 'even') -%>">
          <div class="columns col-md-1"> <%= i+1 %> </div>
          <div class="columns col-md-2">
            <%= label_tag "actividad_#{i+1}[nombre]", actividad.nombre, {class: 'text_field'} %>
          </div>
          <div class="columns col-md-3">
            <div class="form-group">
            <div class="progress">
              <% act = @proyecto.progreso[:completo]%>
              <div class="progress-bar progress-striped active"  role="progressbar" aria-valuenow="<%= act %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= act %>%">
                <span class="sr-only"><%= act %> %</span>
              </div>
            </div>
          </div>
          </div>
          <div class="columns col-md-5">
            <%= link_to "Ver/Editar", editar_actividad_path(actividad.id), {class: "btn btn-xs btn-info"} %>
            <%= link_to 'Eliminar', url_to_actividad(actividad, '/eliminar') , data: { confirm: '¿Estás seguro?'},
                        class: 'btn btn-xs btn-danger' %>
          </div>
        </div>
      <% end %>
    <% else %>
      NUEVA ACT! (In Progress...)
      <a href="#" id="nueva_actividad"><span class="button add"></span></a>
    <% end %>
    </div>
  </div>
</div>
<!-- <div class="control_actividades">
  <a href="#" id="nueva_actividad"><span class="button add"></span></a>
  <a href="#" id="eliminar_actividad"><span class="button delete"></span></a>
</div>
 -->
