<%- model_class = Proyecto -%>
<%= content_for :name, 'Proyectos' %>
<%= content_for :description, 'Listado completo' %>
<%= content_for :breadcrumbs, raw('<i class="fa fa-fw fa-dashboard"></i> Dashboard / <i class="fa fa-fw fa-file"></i> Proyectos') %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Estado</th>
      <th>Fecha creación</th>
      <th>Fecha cierre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @proyectos.each_with_index do |proyecto, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= proyecto.nombre %></td>
        <td><%= proyecto_estado(proyecto.estado) %></td>
        <td><%= proyecto.created_at.strftime('%d/%m/%Y - %H:%M:%S') %></td>
        <td><%= proyecto.fecha_cierre.strftime('%d/%m/%Y') %></td>
        <td>
          <%= link_to "Ver/Editar", editar_proyecto_path(proyecto.id), {class: "btn btn-primary"} %>
          <%= link_to 'Eliminar', eliminar_proyecto_path(proyecto.id) , data: { confirm: '¿Estás seguro?'}, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="well well-small pull-right">
  <%= link_to 'Nuevo', '/proyecto/nuevo', :class => 'btn btn-primary' %>
</div>

<script>
  $(function(){
    TmpProyecto.profesor();
  });
</script>


