<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Módulo</th>
      <th>Nombre/Funcionalidad</th>
      <th>Complejidad</th>
      <th>Revisión</th>
    </tr>
  </thead>
  <tbody class="actividades_body">
    <% if Array(@actividades).any? %>
      <% @actividades.each_with_index do |actividad, i| %>
        <tr class="actividades_field">
          <td><%= text_field_tag "actividad_#{i+1}[modulo]", actividad.modulo, {class: 'text_field'} %></td>
          <td><%= text_field_tag "actividad_#{i+1}[funcionalidad]",actividad.funcionalidad, {class: 'text_field funcionalidad'} %></td>
          <td><%= select_tag "actividad_#{i+1}[complejidad]",options_for_select(@complejidad, actividad.complejidad), {include_blank: true, class: 'number_field complejidad'} %></td>
          <td>
            <%= select_tag "actividad_#{i+1}[dia]", options_for_select(1..31,actividad.revision.day), {class: "fecha_dia"} %>
            <%= select_tag "actividad_#{i+1}[mes]", options_for_select(meses_helper,actividad.revision.month), {class: "fecha_mes"} %>
            <%= select_tag "actividad_#{i+1}[anio]", options_for_select(anio_helper,actividad.revision.year), {class: "fecha_anio"} %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr class="actividades_field">
        <td><%= text_field_tag "actividad_1[modulo]",'', {class: 'text_field'} %></td>
        <td><%= text_field_tag "actividad_1[funcionalidad]",'', {class: 'text_field funcionalidad'} %></td>
        <td><%= select_tag "actividad_1[complejidad]",options_for_select(@complejidad), {include_blank: true, class: 'number_field complejidad'} %></td>
        <td>
          <%= select_tag 'actividad_1[dia]', options_for_select(1..31,Time.now.day), {class: "fecha_dia"} %>
          <%= select_tag 'actividad_1[mes]', options_for_select(meses_helper,Time.now.month), {class: "fecha_mes"} %>
          <%= select_tag 'actividad_1[anio]', options_for_select(anio_helper,Time.now.year), {class: "fecha_anio"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>