<div class="container-fluid">

  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content login">
        <div class="modal-header">
          <span class="logo">
            <%= image_tag 'logo.png' %>
          </span>
        </div>
        <div class="modal-body">
            <div class="well">
              <%= form_tag '/login', {role: 'form'} do |f| %>
                <div class="form-group">
                  <label for="login-username">Nombre de usuario</label>
                  <%= text_field_tag :correo_electronico, params[:correo_electronico], {class: 'form-control required', placeholder: 'Correo electrónico'} %>
                </div>
                <div class="form-group">
                  <label for="login-password">Password</label>
                  <%= password_field_tag :password, '', {class: 'form-control required', placeholder: 'Password'} %>
                </div>
                <%= submit_tag 'Inicia sesión', class: 'btn btn-default' %>
                <br>
                <br>
                <%= link_to '¿Olvidaste tu contraseña?', '#', class: 'primary' %>
              <% end %>
            </div>
        </div>
        <div class="modal-footer">
          Instituto Profesional Duoc UC
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>

