<p id="notice"><%= notice %></p>

<p>
  <b>Rut:</b>
  <%= @user.rut %>
</p>

<p>
  <b>Nombres:</b>
  <%= @user.nombres %>
</p>

<p>
  <b>Apellido paterno:</b>
  <%= @user.apellido_paterno %>
</p>

<p>
  <b>Apellido materno:</b>
  <%= @user.apellido_materno %>
</p>

<p>
  <b>Carrera:</b>
  <%= @user.carrera %>
</p>

<p>
  <b>Sede:</b>
  <%= @user.sede %>
</p>

<p>
  <b>Fecha inicio:</b>
  <%= @user.fecha_inicio %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
