<%= form_for @tmp_proyecto, html: { method: 'POST', class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, class: 'form-control' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Alumnos(s)', :class => 'control-label' %>
    <div class="controls alumnos">
      <% if Array(@alumnos).any? %>
        <% @alumnos.each_with_index do |alumno, i| %>
          <div class="user_fields <%= 'extended' if i > 0 %>">
            <%= text_field_tag "alumno_#{i+1}[rut]", alumno.rut ,{placeholder:'Rut', class: 'text_field usuario'} %>
            <%= text_field_tag "alumno_#{i+1}[nombre_completo]", alumno.nombre_completo ,{placeholder:'Nombre y Apellidos', class: 'text_field usuario'} %>
            <%= text_field_tag "alumno_#{i+1}[correo_electronico]", alumno.correo_electronico ,{placeholder:'Correo Electrónico', class: 'text_field usuario'} %>
          </div>
        <% end %>
      <% else %>
        <%= select_tag :alumnos, options_for_select(@lista_alumnos), {class: 'form-control', prompt: 'Selecione alumnos'} %>
        <br>
        <%= button_tag :Agregar, class: 'btn btn-success'%>
      <% end %>
    </div>
  </div>
<% end %>