<%= form_for @tmp_proyecto, url: action, html: { method: 'POST', class: 'form-horizontal new-proyecto' } do |f| %>
  <div class="control-group">
    <%= label_tag '', 'Nombre del proyecto', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, class: 'form-control' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls alumnos">
      <div class="alumnos-container">
        <div class="selectores">
          <%= label_tag '', 'Secciones', class: 'control-label' %>
          <%= f.select :seccion_sigla, options_for_select(@secciones), {prompt: 'Secciones'}, {class: 'form-control'} %>
          <%= f.label 'Alumno(s)', class: 'control-label' %>
          <%= select_tag :alumnos, options_for_select(@alumnos_seccion), {class: 'form-control students-list', prompt: 'Seleccione alumno'} %>
          <br>
          <%= button_tag 'Agregar', class: 'btn btn-success add'%>
        </div>
        <div class="seleccionados">
          <div class="lista">
            <% @alumnos_solicitud.each do |alumno| %>
              <span><%= alumno.nombre_completo %><span class='delete-student' data-id=<%= alumno.id %>>X</span></span>
            <% end %>
          </div>
          <%= hidden_field_tag :lista_alumnos %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :descripcion, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :descripcion, {class: 'form-control', rows: '3', maxlength: '350'} %>
    </div>
  </div>

  <% if editar && (can? :aprobar, TmpProyecto) %>
    <br><br>
    <div class="control-group">
      <%= label_tag '', 'Seleccione Estructura de Evaluación', class: 'control-label' %>
      <%= f.select :estructura, options_for_select(@estructuras) ,{prompt: 'Estructuras'},{class: 'form-control'} %>
    </div>
  <% end %>
<% end %>

<%= hidden_field_tag :alumnos_json, @alumnos %>

