<%= form_for @tmp_proyecto, html: { method: 'POST', class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Alumnos(s)', :class => 'control-label' %>
    <div class="controls alumnos">
      <% if Array(@alumnos).any? %>
        <% @alumnos.each_with_index do |alumno, i| %>
          <div class="user_fields <%= 'extended' if i > 0 %>">
            <%= text_field_tag "alumno_#{i+1}[rut]", alumno.rut ,{placeholder:'Rut', class: 'text_field usuario'} %>
            <%= text_field_tag "alumno_#{i+1}[nombre_completo]", alumno.nombre_completo ,{placeholder:'Nombre y Apellidos', class: 'text_field usuario'} %>
            <%= text_field_tag "alumno_#{i+1}[correo_electronico]", alumno.correo_electronico ,{placeholder:'Correo Electrónico', class: 'text_field usuario'} %>
          </div>
        <% end %>
      <% else %>
        <div class="user_fields">
          <%= text_field_tag 'alumno_1[rut]', '',{placeholder:'Rut', class: 'text_field usuario'} %>
          <%= text_field_tag 'alumno_1[nombre_completo]', '',{placeholder:'Nombre y Apellidos', class: 'text_field usuario'} %>
          <%= text_field_tag 'alumno_1[correo_electronico]', '',{placeholder:'Correo Electrónico', class: 'text_field usuario'} %>
        </div>
      <% end %>
    </div>
    <div class="controls">
      <a href="#" id="nuevo_alumno"><span class="button add"></span></a>
      <a href="#" id="eliminar_alumno"><span class="button delete"></span></a>
    </div>
  </div>
  <%= render partial: 'form_actividad' %>
<% end %>