<%= form_for @tmp_proyecto, html: { method: 'POST', class: 'form-horizontal new-proyecto' } do |f| %>
  <div class="control-group">
    <%= label_tag '', 'Nombre del proyecto', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, class: 'form-control' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls alumnos">
      <div class="alumnos-container">
        <div class="selectores">
          <%= label_tag '', 'Secciones', class: 'control-label' %>
          <%= select_tag :secciones, options_for_select(@secciones),{class: 'form-control', prompt: 'Secciones'}  %>
          <%= f.label 'Alumno(s)', class: 'control-label' %>
          <%= select_tag :alumnos, options_for_select([]), {class: 'form-control students-list', prompt: 'Seleccione alumno'} %>
          <br>
          <%= button_tag 'Agregar', class: 'btn btn-success add'%>
        </div>

        <div class="seleccionados">
          <div class="lista">
          </div>
        </div>
      </div>

      <%= hidden_field_tag :alumnos_json, @alumnos %>

    </div>
  </div>
<% end %>