<div class="page-header">
  <h1>Solicitudes de Proyecto</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Estado</th>
      <th>Fecha creación</th>
      <th>Fecha expiración</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @tmp_proyectos.each_with_index do |solicitud, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= solicitud.nombre %></td>
        <td><%= labeled_estado(solicitud.estado) %></td>
        <td><%= solicitud.created_at.strftime('%d/%m/%Y') %></td>
        <td><%= solicitud.fecha_expiracion.try(:strftime, '%d/%m/%Y') %></td>
        <td>
          <%= link_to "Ver/Editar", editar_solicitud_path(id: solicitud.id), {class: "btn btn-primary"} %>
          <%= link_to 'Eliminar', eliminar_solicitud_path(id: solicitud.id),
                      data: {confirm: '¿Estás seguro?'}, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="well well-small pull-right">
  <%= link_to 'Nuevo', nueva_solicitud_path, class: 'btn btn-primary' %>
</div>

<script>
  $(function() {
    TmpProyecto.profesor();
  });
</script>


