<%= form_for @tmp_group, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nombre_proyecto, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre_proyecto, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Alumno(s)', :class => 'control-label' %>
    <div class="controls">
      <div class="user_fields">
        <%= render 'alumno' %>
      </div>
      <a href="#" id="nuevo_alumno"><span class="button add"></span></a>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :activities_hash, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :activities_hash, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :estado, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :estado, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tmp_groups_path, :class => 'btn' %>
  </div>
<% end %>
