<%= content_for :name, 'Configuraciones' %>
<%= content_for :description, 'Carga de archivos' %>
<%= content_for :breadcrumbs, raw('<i class="fa fa-fw fa-dashboard"></i> Dashboard / <i class="fa fa-fw fa-wrench"></i> Configuraciones ') %>

<div class="container-fluid">
  <%= render partial: 'students_upload' %>
  <br>
  <%= render partial: 'structure_generator' %>
</div>

<br><br><br>

<div class="container-fluid">
  <h3>Historial de Cargas</h3>
  <div class="history">
    <% if @historial.any? %>
      <% @historial.each do |h|  %>
        <div class="history-container <%= Configuracion::STATUS[h.status] %>">
          <div><strong>Archivo:</strong> <%= h.nombre_archivo %></div>
          <div><strong>Formato:</strong> <%= h.formato %></div>
          <div><strong>Autor:</strong> <%= Usuario.find(h.autor).username %></div>
          <div><strong>Fecha de Carga:</strong> <%= h.created_at.strftime('%d/%m/%Y - %H:%M') %></div>
        </div>
      <% end %>
    <% else %>
      <strong><i> No se ha realizado ninguna carga hasta el momento.</i></strong>
      <br><br><br><br>
    <% end %>
  </div>
</div>

<footer>
  <div class="well">
    <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-circle-arrow-left')+' Volver', root_path, {class: "btn btn-primary"} %>
  </div>
</footer>