<%= form_for @usuario, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :rut, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rut, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre_completo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre_completo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :correo_electronico, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :correo_electronico, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :perfil, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :perfil, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sede, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sede, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :carrera, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :carrera, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :activo, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :activo, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                usuarios_path, :class => 'btn' %>
  </div>
<% end %>
