<div class="row-fluid listado_tareas">
  <div class="span9">
  </div>
  <div class="span9 tarea <%= cycle('odd', 'even') -%>">
    <span class="span1"> <strong>#</strong> </span>
    <span class="span2"> <strong>Descripción</strong> </span>
    <span class="span3"> <strong>Revisión</strong> </span>
    <span class="span2"> <strong>Evaluación</strong> </span>
    <span class="span2"> <strong>¿Completa?</strong> </span>
    <span class="span1"> <strong>Selección</strong> </span>
  </div>
  <% @tareas.each_with_index do |tarea, index| %>
    <div class="span9 tarea <%= cycle('odd', 'even') -%>">
      <span class="span1"> <%= index+1 %> </span>
      <span class="span2"> <%= tarea.descripcion %> </span>
      <span class="span3"> <%= tarea.revision.strftime("%d/%m/%Y") %> </span>
      <span class="span2"> <%= tarea.evaluacion %> </span>
      <span class="span2"> <%= check_box_tag "chk_tarea_#{index}", tarea.id, tarea.completa?, {class: 'checkbox'} %> </span>
      <span class="span1"> <i class="icon-chevron-down tarea_detalle"></i> </span>
    </div>
  <% end %>
</div>