<%= content_for :name, 'Gestionar Actividad' %>
<%= content_for :description, "Número ##{@actividad.id}" %>
<%= content_for :breadcrumbs, raw('<i class="fa fa-fw fa-dashboard"></i> Dashboard / <i class="fa fa-fw fa-file"></i> Proyectos / <i class="fa fa-fw fa-align-left"></i> Seguimiento / <i class="fa fa-fw fa-thumb-tack"></i> Actividad') %>

<div class="row-fluid">
  <div class="forms_proyecto">
    <%= render partial: 'form' %>
  </div>
  <div class="contenedor_interno">
    <h3>Tareas</h3>
    <% if @tareas.any? %>
      <div id="listado_tareas">
        <%= render partial: 'tareas' %>
      </div>
    <% else %>
      <div class="alert alert-info">
        <i><b> No hay Tareas asociadas a esta Actividad </b></i>
      </div>
    <% end %>
    <br>
  </div>

  <div class="form-actions-override">
    <button id="actualizar_actividad" type="button" class="btn btn-primary">Terminar</button>
    <%= link_to "Cancelar", url_to_proyecto(@actividad,'/editar'), class: 'btn' %>
  </div>
</div>

<script>
  $(function(){
    Actividad.init();
  });
</script>