<div class="container-fluid">

  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content login">
        <div class="modal-header">
          <span class="logo">
            <%= image_tag 'logo.png' %>
          </span>
        </div>
        <div class="modal-body">
            <div class="well">
              <%= form_for @usuario, url: '/login', html: {role: 'form'} do |f| %>
                <div class="form-group">
                  <label for="login-username">Nombre de usuario</label>
                  <%= f.text_field :correo_electronico, {class: 'form-control required', placeholder: 'Correo electrónico'} %>
                </div>
                <div class="form-group">
                  <label for="login-password">Password</label>
                  <%= f.password_field :password, {class: 'form-control required', placeholder: 'Password'} %>
                </div>
                <%= f.submit 'Inicia sesión', class: 'btn btn-default' %>
                <br>
                <br>
                <%= link_to '¿Olvidaste tu contraseña?', '#', class: 'primary' %>
              <% end %>
            </div>
        </div>
        <div class="modal-footer">
          Instituto Profesional Duoc UC
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>

